/* COMMON */

.my_green_bg{
    background-color: #9cdab5;
}
.btn:focus{
    box-shadow: none;
}
.btn{
    border: 2px solid white;
}
.btn.picked{
    animation: button_borders .5s linear infinite;
}

/* HEADER */

/* MAIN */
main{
    height: calc(100vh - 175px);
    gap: 50px;
}
.movies_button{
    right: calc(50% - 150px);
}
.games_button{
    left: calc(50% - 150px);
}

/* FOOTER */
.side_footer_decoration{
    width: calc((100% - 100px) / 2 );
    height: 1px;
}
.middle_footer_decoration{
    width: 20px;
}

/* ANIMAZIONI */
@keyframes button_borders{
    0%{
        border: 2px solid white;;
    }
    50%{
        border: 4px solid white;
    }
    100%{
        border: 2px solid white;
    }
}