/* COMMON */

.my_green_bg{
    background-color: #9cdab5;
}
.btn:focus{
    box-shadow: none;
}
.btn{
    position: fixed;
}
.btn.picked{
    animation: button_borders .5s linear infinite;
}
.text-black{
    color: black;
}
.border_white{
    border: solid white;
}
.border_black{
    border: solid black;
}
.slider_arrow{
    cursor: pointer;
}
.chosen_list{
    top: 20%;
}
.chosen_games{
    left: 5%;
}
.chosen_movies{
    right: 5%;
}

/* HEADER */

/* MAIN */
main{
    height: calc(100vh - 175px);
    gap: 50px;
}
.movies_button{
    right: calc(50% - 150px);
    border: 2px solid black;
}
.games_button{
    left: calc(50% - 150px);
    border: 2px solid white;
}
.list_body > div:not(.border_black){
    border: 2px solid;
}
.add_button{
    left: 25%;
    border: 2px solid;
}
.remove_button{
    right: 25%;
    border: 2px solid;
}

/* FOOTER */
.side_footer_decoration{
    width: calc((100% - 100px) / 2 );
    height: 1px;
}
.middle_footer_decoration{
    width: 20px;
}

/* ANIMAZIONI */
@keyframes button_borders{
    0%{
        border: 2px solid ;
    }
    50%{
        border: 4px solid ;
    }
    100%{
        border: 2px solid ;
    }
}